/* ONE */
.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.one-table{
    text-align: center;
    border-collapse: collapse;
}

th{
    background-color: #f1f1f1;
}


/* TWO */
.caption_2{
    display: flex;
    margin-top: 10px;
}

.caption_2 p{
    display: flex;
    flex: 1;
}

/* THREE */
.main-table th{
    width: 50px;
}